
@media (max-width: 600px) {
  .text {
    padding: 10px;
    font-size: 18px;
  }
  .task-content {
    font-size: 22px;
  }
  .task-date,
  .task-time {
    display:block;
}
  .popInside {
    width: 90vw;
    padding: 10px;
  }
  .to-do-list-title {
    font-size: 22px;
  }
  .clock {
    font-size: 18px;
  }
  .add {
    width: auto;
    font-size: 13px;
    padding: 5px 10px;

  }
  input[type='text'],
  input[type='date'],
  input[type='time'] {
    font-size: 14px;
    margin-left: 10px;
    padding: 8px;
  }
}
@media (max-width:600px){
  body{
    overflow-x: hidden;
  }
  .clock-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .conatainer{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .task-content{
    margin-left: 0px;
    font-size: 18px;
  }
  .task-date,
  .task-time {
    font-size: 12px;
    padding: 2px 4px;
  }
  .btnContainer{
    padding: none;
  }
  input[type='text'],
  input[type='date'],
  input[type='time'] {
    font-size: 14px;
    margin-left: 10px;
    padding: 8px;
    width: 80vw;
  }
  .add{
    width: 80px;
    margin: 10px auto;
    position: static;
    top:0;
}
.add:hover{
  background-color: forestgreen;
  color: white;
  cursor: pointer;
}
}